.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.centered-table {
  margin: 0 auto;
}

ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

ul li {
  text-align: center; /* Adjust alignment of list items */
}

.select-dropdown {
  padding: 8px;
  margin: 8px;
}

.submit-button {
  padding: 10px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-player-button {
  padding: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
  margin: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.delete-button i {
  font-size: 1rem;
}
