.App {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.centered-table {
  margin: 0 auto;
}

.table-heading {
  padding: 10px 20px; 
  background-color: #f0f0f0; 
}



ul {
  list-style-type: none; 
  padding: 0;
}

ul li {
  text-align: center; 
}

.select-dropdown {
  padding: 8px;
  margin: 8px;
}

.submit-button {
  padding: 10px;
  margin: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-player-button {
  padding: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
  margin: 10px;
}

.add-player-button:hover {
  background-color: #1565c0; 
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
}

.delete-button i {
  font-size: 1rem;
}

.select-button {
  padding: 10px;
  background-color: #2196f3; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.select-button:hover {
  background-color: #1565c0; 
}

.select-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.winner {
  font-weight: bold;
  color: #4caf50; 
  border: 2px solid #4caf50;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  margin: 8px;



}
